<!DOCTYPE html>
<html>
<head>

    <%= yield :javascript_includes %>

    <script>
    UPLOADCARE_PUBLIC_KEY = 'demopublickey';
    UPLOADCARE_URL_BASE = 'https://upload.uploadcare.com';
    UPLOADCARE_SOCIAL_BASE = 'https://social.uploadcare.com/';
    UPLOADCARE_CDN_BASE = 'http://www.ucarecdn.com/';
    UPLOADCARE_SCRIPT_BASE = '/assets/uploadcare/';

    // UPLOADCARE_PUBLIC_KEY = '5248878573444a0016c3';
    // UPLOADCARE_SOCIAL_BASE = 'http://localhost:5000/';
    // UPLOADCARE_URL_BASE = 'http://webclient.lacolhost.com:8000/upload/';
    // UPLOADCARE_CDN_BASE = 'http://robots.lacolhost.com:8888/';
    // UPLOADCARE_LOCALE = 'lv';
    </script>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=.25, minimal-ui" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
