<div class="uploadcare-dialog-panel">
  <div class="uploadcare-dialog-tabs"></div>

  <div class="uploadcare-panel-footer uploadcare-panel-footer__summary">
    <div class="uploadcare-dialog-button uploadcare-dialog-source-base-show-files"
         tabindex="0" role="button">
      <%- t('dialog.showFiles') %>
      <div class="uploadcare-panel-footer-counter"></div>
    </div>
    <div class="uploadcare-dialog-button-success uploadcare-dialog-source-base-done"
         tabindex="0" role="button"><%- t('dialog.done') %></div>
    <div class="uploadcare-panel-footer-text"></div>
  </div>
</div>
<div class="uploadcare-dialog-footer">
  <%- t('dialog.footer.text') %>
  <a href="https://uploadcare.com/?utm_campaign=widget&utm_source=copyright&utm_medium=desktop&utm_content=<%- uploadcare.version %>"
     target="_blank"><%- t('dialog.footer.link') %></a>
</div>
