<div class="uploadcare--panel__header">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title"><%- t('dialog.tabs.preview.regular.title') %></div>
</div>

<div class="uploadcare--panel__content">
  <div class="uploadcare--text uploadcare-dialog-label">
    <%- (file.name || t('dialog.tabs.preview.unknownName')) %><%-
    utils.readableFileSize(file.size, '', ', ') %>
  </div>
</div>

<div class="uploadcare--footer uploadcare--panel__footer">
  <button class="uploadcare--button uploadcare--preview__back uploadcare-dialog-button">
      <%- t('dialog.tabs.preview.change') %>
  </button>
  <button class="uploadcare--button uploadcare--button_primary uploadcare--preview__done uploadcare-dialog-button-success">
      <%- t('dialog.tabs.preview.done') %>
  </button>
</div>

