<div class="uploadcare-dialog-title"><%- t('dialog.tabs.file.title') %></div>
<div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
    <div><%- t('dialog.tabs.file.line1') %></div>
    <div><%- t('dialog.tabs.file.line2') %></div>
</div>
<div class="uploadcare-dialog-button" role="uploadcare-dialog-browse-file"><%- t('dialog.tabs.file.button') %></div>
<br>
<br>
<div class="uploadcare-dialog-drop-file" role="uploadcare-drop-area"><%- t('draghere') %></div>
