<div class="uploadcare--panel__content">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title"><%- t('dialog.tabs.camera.title') %></div>

  <div class="uploadcare--camera__video-container">
    <video class="uploadcare--camera__video uploadcare--camera__video_mirrored"></video>

    <div class="uploadcare--button uploadcare--button_size_small uploadcare--button_overlay-secondary uploadcare--camera__mirror-button"
         tabindex="0" role="button">
      <%- t('dialog.tabs.camera.mirror') %>
    </div>
  </div>

  <div class="uploadcare--camera__controls">
    <div class="uploadcare--button uploadcare--button_primary uploadcare--camera__start-record-button"
         tabindex="0" role="button">
      <%- t('dialog.tabs.camera.startRecord') %>
    </div>
    <div class="uploadcare--button uploadcare--button_primary uploadcare--camera__capture-button"
         tabindex="0" role="button">
      <%- t('dialog.tabs.camera.capture') %>
    </div>
    <div class="uploadcare--button uploadcare--button_outline-secondary uploadcare--camera__cancel-record-button"
         tabindex="0" role="button">
      <%- t('dialog.tabs.camera.cancelRecord') %>
    </div>
    <div class="uploadcare--button uploadcare--button_primary uploadcare--camera__stop-record-button"
         tabindex="0" role="button">
      <%- t('dialog.tabs.camera.stopRecord') %>
    </div>
  </div>

  <div class="uploadcare--text uploadcare--text_large uploadcare--camera__please-allow-text">
    <%- t('dialog.tabs.camera.pleaseAllow.title') %>
  </div>
  <div class="uploadcare--text uploadcare--camera__please-allow-text">
    <%= t('dialog.tabs.camera.pleaseAllow.text') %>
  </div>

  <div class="uploadcare--text uploadcare--text_large uploadcare--camera__not-found-text">
    <%- t('dialog.tabs.camera.notFound.title') %>
  </div>
  <div class="uploadcare--text uploadcare--camera__not-found-text">
    <%- t('dialog.tabs.camera.notFound.text') %>
  </div>

  <div class="uploadcare--button uploadcare--button_outline-primary uploadcare--camera__retry-button"
       tabindex="0" role="button">
    <%- t('dialog.tabs.camera.retry') %>
  </div>
</div>
