<div class="uploadcare--panel__header">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title uploadcare--preview__title">
    <%- t('dialog.tabs.preview.image.title') %>
  </div>
</div>

<div class="uploadcare--panel__content">
  <div class="uploadcare--preview__image-container uploadcare-dialog-preview-image-wrap"><!--
      1162x684 is 1.5 size of conteiner
      TODO Use picture and srcset for create responsive image
    --><img
        src="<%- src %>"
        title="<%- (name || "") %>"
        alt="<%- (name || "") %>"
      class="uploadcare--preview__image"
    />
  </div>
</div>

<div class="uploadcare--footer uploadcare--panel__footer">
  <div class="uploadcare--footer__additions">
    <% if (crop) { %>
    <div class="uploadcare--crop-sizes">
      <div role="button" tabindex="0"
           class="uploadcare--button uploadcare--button_icon uploadcare--crop-sizes__item" data-caption="free">
        <div class="uploadcare--crop-sizes__icon"></div>
      </div>
    </div>
    <% } %>
  </div>

  <!-- TODO Change Cancel to Remove -->
  <button class="uploadcare--button uploadcare--preview__back uploadcare-dialog-button">
      <%- t('dialog.tabs.preview.image.change') %>
  </button>

  <button class="uploadcare--button uploadcare--button_primary uploadcare--preview__done uploadcare-dialog-button-success">
      <%- t('dialog.tabs.preview.done') %>
  </button>
</div>
