<div class="uploadcare-dialog-file-drop-area">
  <div class="uploadcare-dialog-file-title uploadcare-if-draganddrop">
    <%- t('dialog.tabs.file.drag') %>
  </div>
  <div class="uploadcare-dialog-file-title uploadcare-if-no-draganddrop">
    <%- t('dialog.tabs.file.nodrop') %>
  </div>
  <div class="uploadcare-dialog-file-or uploadcare-if-draganddrop">
    <%- t('dialog.tabs.file.or') %>
  </div>
  <div class="uploadcare-clouds-tip uploadcare-if-mobile">
    <%= t('dialog.tabs.file.cloudsTip') %>
  </div>
  <div class="uploadcare-dialog-big-button needsclick">
    <%- t('dialog.tabs.file.button') %>
  </div>
  <div class="uploadcare-dialog-file-or uploadcare-dialog-file-source-or">
    <%- t('dialog.tabs.file.also') %>
  </div>
  <div class="uploadcare-dialog-file-sources">
  </div>
</div>
