<div class="uploadcare--panel__content">
  <div class="uploadcare--panel__title"><%- t('dialog.tabs.url.title') %></div>

  <div class="uploadcare--panel__text">
    <div><%- t('dialog.tabs.url.line1') %></div>
    <div><%- t('dialog.tabs.url.line2') %></div>
  </div>

  <form class="uploadcare--form">
    <input type="text" class="uploadcare--input" placeholder="<%- t('dialog.tabs.url.input') %>">
    <button class="uploadcare--button uploadcare--button_size_big uploadcare--button_primary uploadcare--button_submit uploadcare--panel__action-button" type="submit"><%- t('dialog.tabs.url.button') %></button>
  </form>
</div>
