<div class="uploadcare-dialog-title"><%- t('dialog.tabs.preview.regular.title') %></div>

<div class="uploadcare-dialog-label">
  <%- file.fileName || t('dialog.tabs.preview.unknown') %><% if (file.fileSize != null) { %>,
  <%- Math.round(file.fileSize/1000) %> KB<% } %>
</div>

<div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
  <%- t('dialog.tabs.preview.regular.line1') %><br/>
  <%- t('dialog.tabs.preview.regular.line2') %>
</div>

<div 
  class="uploadcare-dialog-button" 
  disabled><%- t('dialog.tabs.preview.done') %></div>
<div 
  class="uploadcare-dialog-button" 
  role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.back') %></div>