<div class="uploadcare--panel__content">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title"><%- t('dialog.tabs.url.title') %></div>

  <div class="uploadcare--text"><%- t('dialog.tabs.url.line1') %></div>
  <div class="uploadcare--text"><%- t('dialog.tabs.url.line2') %></div>

  <form class="uploadcare--form">
    <input type="text" class="uploadcare--input" placeholder="<%- t('dialog.tabs.url.input') %>">
    <button class="uploadcare--button uploadcare--button_primary uploadcare--panel__action-button" type="submit"><%- t('dialog.tabs.url.button') %></button>
  </form>
</div>
