<div class="uploadcare-dialog-title"><%- t('dialog.tabs.preview.image.title') %></div>

<div class="uploadcare-dialog-preview-image-wrap1">
<div class="uploadcare-dialog-preview-image-wrap2">
  <img 
    src="<%- file.originalUrl %>" 
    title="<%- (file.name || t('dialog.tabs.preview.unknownName')) %>" 
    alt="<%- (file.name || t('dialog.tabs.preview.unknownName')) %>"
    role="uploadcare-dialog-preview-image"
  />
</div>
</div>

<div class="uploadcare-dialog-inner-footer">
  <div 
    class="uploadcare-dialog-button" 
    role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.image.change') %></div>
  <div 
    class="uploadcare-dialog-button-success" 
    role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.done') %></div>
</div>
