<div class="uploadcare-dialog-title"><%- t('dialog.tabs.preview.error.title') %></div>

<div class="uploadcare-dialog-label">
  <%- file.fileName || t('dialog.tabs.preview.unknown') %><% if (file.fileSize != null) { %>,
  <%- file.fileSize %> KB<% } %>
</div>

<div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
  <%- t('dialog.tabs.preview.error.line1') %><br/>
  <%- t('dialog.tabs.preview.error.line2') %>
</div>

<div
  class="uploadcare-dialog-button-success" 
  role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.error.back') %></div>