<div class="uploadcare--panel__content">
  <div class="uploadcare--text uploadcare--text_large uploadcare--panel__title"><%- t('dialog.tabs.camera.title') %></div>

  <div class="uploadcare--camera__video-container">
    <video class="uploadcare--camera__video uploadcare--camera__video_mirrored"></video>

    <button class="uploadcare--button uploadcare--button_size_small uploadcare--button_overlay-secondary uploadcare--camera__mirror-button">
      <%- t('dialog.tabs.camera.mirror') %>
    </button>
  </div>

  <div class="uploadcare--camera__controls">
    <button class="uploadcare--button uploadcare--button_primary uploadcare--camera__start-record-button">
      <%- t('dialog.tabs.camera.startRecord') %>
    </button>
    <button class="uploadcare--button uploadcare--button_primary uploadcare--camera__capture-button">
      <%- t('dialog.tabs.camera.capture') %>
    </button>
    <button class="uploadcare--button uploadcare--button_outline-secondary uploadcare--camera__cancel-record-button">
      <%- t('dialog.tabs.camera.cancelRecord') %>
    </button>
    <button class="uploadcare--button uploadcare--button_primary uploadcare--camera__stop-record-button">
      <%- t('dialog.tabs.camera.stopRecord') %>
    </button>
  </div>

  <div class="uploadcare--text uploadcare--text_large uploadcare--camera__please-allow-text">
    <%- t('dialog.tabs.camera.pleaseAllow.title') %>
  </div>
  <div class="uploadcare--text uploadcare--camera__please-allow-text">
    <%= t('dialog.tabs.camera.pleaseAllow.text') %>
  </div>

  <div class="uploadcare--text uploadcare--text_large uploadcare--camera__not-found-text">
    <%- t('dialog.tabs.camera.notFound.title') %>
  </div>
  <div class="uploadcare--text uploadcare--camera__not-found-text">
    <%- t('dialog.tabs.camera.notFound.text') %>
  </div>

  <button class="uploadcare--button uploadcare--button_outline-primary uploadcare--camera__retry-button">
    <%- t('dialog.tabs.camera.retry') %>
  </button>
</div>
