<div class="uploadcare-dialog-camera-holder"><!--
  --><video class="uploadcare-dialog-camera-video uploadcare-dialog-camera--mirrored"></video><!--
  --><div class="uploadcare-dialog-camera-message">
    <div class="uploadcare-dialog-error-tab-illustration"></div>

    <div class="uploadcare-dialog-title uploadcare-dialog-camera-please-allow">
      <%- t('dialog.tabs.camera.pleaseAllow.title') %>
    </div>
    <div class="uploadcare-dialog-normal-text uploadcare-dialog-camera-please-allow">
      <%- t('dialog.tabs.camera.pleaseAllow.text') %>
    </div>

    <div class="uploadcare-dialog-title uploadcare-dialog-camera-not-found">
      <%- t('dialog.tabs.camera.notFound.title') %>
    </div>
    <div class="uploadcare-dialog-normal-text uploadcare-dialog-camera-not-found">
      <%- t('dialog.tabs.camera.notFound.text') %>
    </div>

    <div class="uploadcare-dialog-camera-retry uploadcare-dialog-button"
         tabindex="0" role="button">
      <%- t('dialog.tabs.camera.retry') %>
    </div>
  </div><!--
--></div>
<div class="uploadcare-dialog-camera-controls">
  <div class="uploadcare-dialog-camera-mirror uploadcare-dialog-button"
       tabindex="0" role="button">
    <%- t('dialog.tabs.camera.mirror') %>
  </div>
  <div class="uploadcare-dialog-camera-capture uploadcare-dialog-button-success"
       tabindex="0" role="button">
    <%- t('dialog.tabs.camera.capture') %>
  </div>
  <div class="uploadcare-dialog-camera-start-record uploadcare-dialog-button-success"
       tabindex="0" role="button">
    <%- t('dialog.tabs.camera.startRecord') %>
  </div>
  <div class="uploadcare-dialog-camera-cancel-record uploadcare-dialog-button"
       tabindex="0" role="button">
    <%- t('dialog.tabs.camera.cancelRecord') %>
  </div>
  <div class="uploadcare-dialog-camera-stop-record uploadcare-dialog-button-success"
       tabindex="0" role="button">
    <%- t('dialog.tabs.camera.stopRecord') %>
  </div>
</div>
