<div class="uploadcare-dialog-padding">
  <div class="uploadcare-dialog-title"><%- t('dialog.tabs.preview.regular.title') %></div>

  <div class="uploadcare-dialog-label">
    <%- (file.name || t('dialog.tabs.preview.unknownName')) %><%-
      utils.readableFileSize(file.size, '', ', ') %>
  </div>

  <div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
    <%- t('dialog.tabs.preview.regular.line1') %><br/>
    <%- t('dialog.tabs.preview.regular.line2') %>
  </div>

  <div class="uploadcare-dialog-button-success" tabindex="0"
       role="uploadcare-dialog-preview-done"
          ><%- t('dialog.tabs.preview.done') %></div>
  <div class="uploadcare-dialog-button" tabindex="0"
       role="uploadcare-dialog-preview-back"
          ><%- t('dialog.tabs.preview.change') %></div>
</div>
