<div class="uploadcare-dialog-padding uploadcare-dialog-preview-root">
  <div class="uploadcare-dialog-title uploadcare-dialog-preview-title">
    <%- t('dialog.tabs.preview.image.title') %>
  </div>

  <div class="uploadcare-crop-sizes uploadcare-dialog-preview-crop-sizes">
    <div class="uploadcare-crop-size" data-caption="free"><div></div></div>
  </div>

  <div class="uploadcare-dialog-preview-image-wrap"><!--
    --><img
        src="<%- src %>"
        title="<%- (name || "") %>"
        alt="<%- (name || "") %>"
      class="uploadcare-dialog-preview-image"
    />
  </div>
</div>

<div class="uploadcare-panel-footer">
  <div class="uploadcare-dialog-button uploadcare-dialog-preview-back"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.image.change') %></div>
  <div class="uploadcare-dialog-button-success uploadcare-dialog-preview-done"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.done') %></div>
</div>
