<div class="uploadcare-dialog-title"><%- t('dialog.tabs.url.title') %></div>
<ul class="uploadcare-dialog-support">
    <li class="uploadcare-dialog-support-images" title="<%- t('dialog.support.images') %>"></li>
    <li class="uploadcare-dialog-support-audio" title="<%- t('dialog.support.audio') %>"></li>
    <li class="uploadcare-dialog-support-video" title="<%- t('dialog.support.video') %>"></li>
    <li class="uploadcare-dialog-support-documents" title="<%- t('dialog.support.documents') %>"></li>
</ul>
<div class="uploadcare-dialog-section">
    <p><%- t('dialog.tabs.url.line1') %></p>
    <p><%- t('dialog.tabs.url.line2') %></p>
</div>
<form role="uploadcare-dialog-url-form">
    <input type="text" role="uploadcare-dialog-url-input" placeholder="<%- t('dialog.tabs.url.input') %>">
    <button type="submit" role="uploadcare-dialog-url-submit"><%- t('dialog.tabs.url.button') %></button>
</form>
