<div class="uploadcare-dialog-padding" role="uploadcare-dialog-preview-root">
  <div class="uploadcare-dialog-title" role="uploadcare-dialog-preview-title">
    <%- t('dialog.tabs.preview.image.title') %>
  </div>

  <div class="uploadcare-dialog-preview-image-wrap"><!--
      1162x684 is 1.5 size of conteiner
    --><img
      src="<%- file.originalUrl %>-/preview/1162x684/-/setfill/efefef/-/format/jpeg/-/progressive/yes/"
      title="<%- (file.name || "") %>"
      alt="<%- (file.name || "") %>"
      role="uploadcare-dialog-preview-image"
      class="uploadcare-dialog-preview-image"
    />
  </div>

  <div class="uploadcare-crop-sizes" role="uploadcare-dialog-preview-crop-sizes">
    <div class="uploadcare-crop-size" data-caption="free"><div></div></div>
  </div>
</div>

<div class="uploadcare-dialog-inner-footer">
  <div class="uploadcare-dialog-button uploadcare-dialog-preview-back"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.image.change') %></div>
  <div class="uploadcare-dialog-button-success uploadcare-dialog-preview-done"
       tabindex="0" role="button"
          ><%- t('dialog.tabs.preview.done') %></div>
</div>
