<div class="uploadcare-dialog-title"><%- t('dialog.tabs.file.title') %></div>
<div class="uploadcare-dialog-section">
    <p><%- t('dialog.tabs.file.line1') %></p>
    <p><%- t('dialog.tabs.file.line2') %></p>
</div>
<div class="uploadcare-dialog-button" role="uploadcare-dialog-browse-file"><%- t('dialog.tabs.file.button') %></div>
<div class="uploadcare-dialog-drop-file" role="uploadcare-drop-area"><%- t('draghere') %></div>
