<div class="uploadcare-dialog-title"><%- t('dialog.tabs.url.title') %></div>
<div class="uploadcare-dialog-section uploadcare-dialog-normal-text">
  <div><%- t('dialog.tabs.url.line1') %></div>
  <div><%- t('dialog.tabs.url.line2') %></div>
</div>
<form class="uploadcare-dialog-url-form">
  <input type="text" class="uploadcare-dialog-input" placeholder="<%- t('dialog.tabs.url.input') %>">
  <button class="uploadcare-dialog-button uploadcare-dialog-url-submit" type="submit"><%- t('dialog.tabs.url.button') %></button>
</form>
