<div class="uploadcare-dialog-title"><%- t('dialog.tabs.file.title') %></div>
<ul class="uploadcare-dialog-support">
    <li class="uploadcare-dialog-support-images" title="<%- t('dialog.support.images') %>"></li>
    <li class="uploadcare-dialog-support-audio" title="<%- t('dialog.support.audio') %>"></li>
    <li class="uploadcare-dialog-support-video" title="<%- t('dialog.support.video') %>"></li>
    <li class="uploadcare-dialog-support-documents" title="<%- t('dialog.support.documents') %>"></li>
</ul>
<div class="uploadcare-dialog-section">
    <p><%- t('dialog.tabs.file.line1') %></p>
    <p><%- t('dialog.tabs.file.line2') %></p>
</div>
<div class="uploadcare-dialog-button" role="uploadcare-dialog-browse-file"><%- t('dialog.tabs.file.button') %></div>
<div class="uploadcare-dialog-drop-file" role="uploadcare-drop-area"><%- t('draghere') %></div>
