<img 
  src="<%- file.previewUrl %>" 
  title="<%- file.fileName %>" 
  alt="<%- file.fileName %>"
  style="max-height: 300px"
/>
<br/>

File name: <%- file.fileName || 'unknown' %>
<br/>

<button role="uploadcare-dialog-preview-back"><%- t('dialog.tabs.preview.back') %></button>
<button role="uploadcare-dialog-preview-done"><%- t('dialog.tabs.preview.done') %></button>