<div class="uploadcare--tab__content">
  <div class="uploadcare--text uploadcare--text_large uploadcare--tab__title"><%- t('dialog.tabs.camera.title') %></div>

  <div class="uploadcare--camera__video-container">
    <video class="uploadcare--camera__video uploadcare--camera__video_mirrored"></video>

    <button class="uploadcare--button uploadcare--button_size_small uploadcare--button_overlay uploadcare--camera__button-mirror">
      <%- t('dialog.tabs.camera.mirror') %>
    </button>
  </div>

  <div class="uploadcare--camera__controls">
    <button class="uploadcare--button uploadcare--button_primary uploadcare--camera__button-start-record">
      <%- t('dialog.tabs.camera.startRecord') %>
    </button>
    <button class="uploadcare--button uploadcare--button_primary uploadcare--camera__button-capture">
      <%- t('dialog.tabs.camera.capture') %>
    </button>
    <button class="uploadcare--button uploadcare--camera__button-cancel-record">
      <%- t('dialog.tabs.camera.cancelRecord') %>
    </button>
    <button class="uploadcare--button uploadcare--button_primary uploadcare--camera__button-stop-record">
      <%- t('dialog.tabs.camera.stopRecord') %>
    </button>
  </div>

  <div class="uploadcare--text uploadcare--text_large uploadcare--camera__text-please-allow">
    <%- t('dialog.tabs.camera.pleaseAllow.title') %>
  </div>
  <div class="uploadcare--text uploadcare--camera__text-please-allow">
    <%= t('dialog.tabs.camera.pleaseAllow.text') %>
  </div>

  <div class="uploadcare--text uploadcare--text_large uploadcare--camera__text-not-found">
    <%- t('dialog.tabs.camera.notFound.title') %>
  </div>
  <div class="uploadcare--text uploadcare--camera__text-not-found">
    <%- t('dialog.tabs.camera.notFound.text') %>
  </div>

  <button class="uploadcare--button uploadcare--camera__button-retry">
    <%- t('dialog.tabs.camera.retry') %>
  </button>
</div>
