<div class="uploadcare-dialog-title"><%- t('dialog.tabs.url.title') %></div>
<div class="uploadcare-dialog-section">
    <p><%- t('dialog.tabs.url.line1') %></p>
    <p><%- t('dialog.tabs.url.line2') %></p>
</div>
<form role="uploadcare-dialog-url-form">
    <input type="text" role="uploadcare-dialog-url-input" placeholder="<%- t('dialog.tabs.url.input') %>">
    <div class="uploadcare-dialog-button" type="submit" role="uploadcare-dialog-url-submit"><%- t('dialog.tabs.url.button') %></div>
</form>
